.mainDiv {
  display: inline-flex;
  flex-direction: flex;
}

.linkDiv {
  display: inline-flex;
  margin: 15px;
  justify-content: center;
  align-items: center;
}
.linkDivStore {
  display: inline-flex;
  margin: 15px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 380px;
}
.linkDivSignIn {
  display: inline-flex;
  margin: 15px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 120px;
}
.linkDivJoinNow {
  display: inline-flex;
  margin: 15px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 220px;
}
.flex-Container{

  
}
